/* Custom Stylesheet */


/*Text Colors*/
.custom-blue-text {
  color: #60E1E0;
}

.custom-blue {
  background-color: #60E1E0;
}

.custom-grey-light-text {
  color: #E6F1FF;
}

.custom-grey-dark-text {
  color: #8892B0;
}




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.navbar {
  background-color: #0A192F
}

#logo-container {
  height: 64px;
}
#logo {
  height: 100%;
}
#index-banner {
  background-color: #0A192F;
  height: 100vh
}

.introduction {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}